
.footer {
  bottom: 0;
  width: 100%;
  background: rgb(24, 24, 24);
  color: white;

  a {
    text-decoration: none;
    color: inherit;
  }

}

.footerTop {
  margin-top: 20px;
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: space-between;

  a {
    color: #9b9999;
  }

  a:hover {
    color: orange;
  }

}


.rights {
  display: flex;
  font-size: 20px;
  align-items: center;
  user-select: none;
}

.footerList {
  display: flex;
  margin-bottom: 10px;
}

.divider {
  border-left: 3px solid gray;
  margin-right: 3px;
  border-radius: 20px;
  opacity: 0.4;
}

.list {

  ul {
    list-style-type: none;
  }

  h3 {
    margin-left: 3px;
    font-size: 20px;
    font-weight: bold;
  }

  li {
    font-size: 14px;
    padding: 3px;
  }
}

.footerBottom {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;

    li {
      padding: 5px;
    }
  }
}

.paymentMethods {
  display: flex;
  margin-left: 10px;
  align-items: center;
  justify-content: space-between;
}

.socials {
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: space-between;

}

.horizontalDivider {
  border-bottom: 3px solid gray;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0.4;
}

@media screen and (max-width: 800px) {

  .footerTop {
    margin-left: 0;
    margin-top: 0;
    display: flex;
    justify-content: space-between;

    h3 {
      font-size: 16px;
    }
  }
  .footerList {
    margin-left: 10px;
  }

  .footerBottom {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
}