
.manufacturersBlock {
  background-color: #fff;
  margin: 20px;
}

.laptopsManufacturerFilter {
  display: flex;
  flex-wrap: wrap;
  padding: 6px;
}

.filterBlockControls {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}