
.catalogWrapper {
  display: flex;
  flex-direction: column;
}

.catalogBottom {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.catalogList {
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  margin-left: 20px;
}

.filtersList {
  background-color: #fff;
  border-radius: 4px;
}

.catalogTopWrapper {
  display: flex;
}

