
.catalogWrapper {
  display: flex;
  flex-direction: column;
}

.catalogBottom {
  background-color: #fff;
  margin: 20px;
  display: grid;
  grid-template-columns: 10% 90%;
}

.catalogList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

.filtersList {
  width: 360px;
}
