
.brandsSlider {
  background: white;
  display: flex;
  font-size: 20px;
  justify-content: space-around;
  color: black;
  align-items: center;
}

.sliderContainer{
  width: 80%;
  height: 60px;
}

.slide {
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
